<div class="home">
  <div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <span class="block text-6xl font-bold mb-1">Picture Perfect</span>
        <div class="text-6xl text-primary font-bold mb-3">Your Personalized Photo Gallery Experience!</div>
        <p class="mt-0 mb-4 text-700 line-height-3">Embark on a journey of boundless creativity with just a tap. Effortlessly upload your photos and manage your gallery, Opening the door to a world where your memories transform into stunning visual stories.</p>

        <button pButton pRipple label="" type="button" class="mr-3 p-button-raised" routerLink="/signup">Register</button>
        <button pButton pRipple label="" type="button" class="p-button-outlined" routerLink="/signin">Login</button>
      </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden">
      <img src="./assets/image.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)">
    </div>
  </div>
</div>
